* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

body{
    background-color:rgb(30, 60, 90);
    color: rgb(200, 250, 250) ;
}



main{
    border: 1px solid red;
    height: 100vh;
    margin: 0 33px;
    display: grid;
}

button{
    border: 1px solid yellow ;
    margin: 0 auto;
    width: 100px;
    height: 13%;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center; 
}

p{
    border: 1px solid greenyellow;
    margin: 0 auto;
    width: 100px;
    height: 50%;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segni{
    border: 1px solid orchid ;
    margin: 0 auto;
    width: 100px;
    height: 13%;
}


footer{
    background-color: rgb(30, 30, 30);
    width: 100%;
}
.f-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}
.f-item{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:x-small;
}
.f-item img{
    width: 35px;
    margin-left: 15px;
    border: none;
   
}
.f-item img:hover{
    filter: brightness(150%);
}


